body {
    font-family: 'Open Sans', sans-serif;
    color: #9d9d9d;
    background-color: #ebebeb ;
    width: 60%;
    margin: auto;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 50px;

}

h1 {
    color: #dd5555;
}

h2, h3 {
    color: #7d7d7d;
}


/* HEADER */
header {
    text-align: center;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 7px;
    /* box-shadow: 1px 1px 3px #e9e9e9; */
    box-shadow: 1px 1px 1px #CCCCCC;
    padding: 20px;
}

header img {
    
    border-radius: 50%;
    width: 30%;
    border: 3px solid #cccccc;
}

header p {
    text-align: left;
}

header button {
    background-color: #dd5555;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-weight: bolder;
    outline: inherit;
    border: none;
}

/* ICONS - MEDIAS */
.zone {
    margin-top: 30px;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #CCCCCC;
    padding: 20px;
    min-height: 100px;

    display: flex;
    flex-direction: column;

    
 }

 .zone:nth-child(1){
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     margin: auto;

 }
 li, ul {
    list-style: none;
    display:inline-block;
    color: #CCCCCC;
    font-size: smaller;
    padding: 0;
    margin: 0;
    margin: auto;
    
    

 }

 li:nth-child(2), li:last-child {
     margin-left: 30px;
 }

 i {
     font-size: 25px;
     margin-bottom: 5px;
 }

 i:hover {
     font-size: 35px;
 }

 .center {
     margin: auto;
 }
 /* FAVORITE MOVIE */

 .zone img {
    max-width: 100%;
    
 }

 .container {
     display: flex;
     flex-direction: row;
     margin-bottom: 30px;
 }

.zone h2 {
     margin-bottom: 40px;
 }
.img {
    width: 15%;
    margin: auto;
}
.text {
    width: 85%;
}
 .text p{
     text-align: left;
     padding-left: 20px;
     
 }
/*,couleur bordure : cccccc

couleur div ffffff

i color cccccc */

/************** RESPONSIVE *******************/

@media only screen and (max-width: 768px){
    body {
      width: 95%;
      
    }

    .img {
        width: 25%;
        margin: auto;
    }
    .text {
        width: 75%;
    }
  }
